[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blinker = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
contourpy = "*"
cycler = "*"
filelock = "*"
fire = "*"
flask = "*"
flask-cors = "*"
flask-jwt-extended = "*"
fonttools = "*"
fsspec = "*"
gitdb = "*"
gitpython = "*"
idna = "*"
imageio = "*"
importlib-metadata = "*"
importlib-resources = "*"
itsdangerous = "*"
jinja2 = "*"
joblib = "*"
kiwisolver = "*"
lapx = "*"
lazy-loader = "*"
markupsafe = "*"
matplotlib = "*"
mpmath = "*"
mysql-connector-python = "*"
networkx = "*"
numpy = "*"
opencv-python = "*"
packaging = "*"
pandas = "*"
pillow = "*"
psutil = "*"
py-cpuinfo = "*"
pybboxes = "*"
pyjwt = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
sahi = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
shapely = "*"
six = "*"
smmap = "*"
sympy = "*"
termcolor = "*"
terminaltables = "*"
threadpoolctl = "*"
tifffile = "*"
tqdm = "*"
typing-extensions = "*"
tzdata = "*"
ultralytics = "*"
ultralytics-thop = "*"
urllib3 = "*"
websockets = "*"
werkzeug = "*"
zipp = "*"

[dev-packages]

[requires]
python_version = "3.12"
